.header-home
    display block
    margin 0 auto
    text-align center

    > .link > .selfie
        width 125px
        border-radius 100%
        margin-bottom 25px
        transition all .2s
        box-shadow 0
        opacity 1

        &:hover
            box-shadow 0 0px 4px 0 rgba(0,0,0,0.18), 0 0px 12px 0 rgba(0,0,0,0.15)
            opacity .8

    > .link > .selfie2
        width 125px


    > .title
        font-size 4rem
        margin 0 0 13px

    > .description
        font-size 1.85rem
        font-weight 300
        font-style normal
        color gama
        width 70%
        margin 0 auto 30px

        // if you put some links in your bio. ;)
        a
            font-weight 200

.typed-cursor
    opacity 1
    font-weight: 900 !important
    -webkit-animation blink 0.7s infinite
    -moz-animation blink 0.7s infinite;
    animation blink 0.7s infinite;

@keyframes blink
    0%
        opacity 1
    50%
        opacity 0
    1000%
        opacity 1

.text-body 
    padding: 10px !important
    text-shadow #000 0px 1px 0px  !important
    font-family "Consolas", "Courier New", "Courier" !important
    font-size: 2.5em !important
    line-height: 1.40em !important
    font-weight: 800 !important
    text-align: left !important
    overflow: hidden !important
    -webkit-transition: all 0.5s ease-out !important
    -moz-transition: all 0.5s ease-out !important
    -ms-transition: all 0.5s ease-out !important
    -o-transition: all 0.5s ease-out !important
    transition: all 0.5s ease-out !important

.small-text
    font-size 0.6em

        